:root {
  --blue: #0d4589;
  --blue-span: #A0BEF6;
  --blue-span2: #D0E1FF;
  --l-blue1: #3075f5;
  --l-blue2: #074483;
  --blue-bg: #F7FBFF;
  --bg-color: #011237;
  --gray: #4E4E4E;
  --white: #FFFFFF;
  --black: #333333;
}
