header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  & .logo {
    width: 180px;
  }
  & nav {
    display: flex;
    gap: 40px;
    overflow: hidden;
    position: fixed;
    top: 0;
    justify-content: center;
    width: 100%;
    z-index: 100;
    padding: 20px 40px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    /* backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); */
    border: 1px solid rgba(255, 255, 255, 0.3);
    & ul {
      display: flex;
      gap: 40px;
      align-items: center;
      & .media-menu {
        & .menu-a {
          padding: 10px 0px;
        }
      }
      & li {
        & .dropdown-menu {
          display: none;
        }
        & a {
          display: flex;
          align-items: center;
          font: var(--font-p3);
          color: var(--black);
          padding-bottom: 2px;
          &.active {
            border-bottom: 1px solid var(--red);
            /* color: var(--red); */
          }
          & img {
            width: 20px;
            transform: rotate(0deg);
            transition: transform 0.5s ease;
          }
          &:hover {
            color: var(--red);
          }
        }
      }
      & .media-menu:hover {
        position: relative;
        box-sizing: border-box;
        & .menu-a {
          padding: 10px 0px;
          & img {
            transform: rotate(180deg);
          }
        }
        & .dropdown-menu {
          display: flex;
          position: absolute;
          padding: 10px 40px;
          background-color: var(--pink);
          border-top: 2px solid var(--red);
        }
      }
    }
  }
}

@media (max-width: 830px) {
  header {
    & nav {
      align-items: center;
      justify-content: space-around;
      & ul {
        & .media-menu:hover {
          padding-bottom: 20px;
        }
      }
    }
  }
}
